// Any Bootstrap or FontAwesome-specific variables added here will overwrite the defaults.
@import "variable-overrides";

@import '../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/_bootstrap';
//or @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../vendor/fortawesome/font-awesome/scss/font-awesome';

// Front-end SCSS goes here.
$margin:1rem;
$navHeight:60px;

body,
html,
.main-container,
.full-height,
#map{
  height:100%;
}

body{
  background-color:#F5F5F5;
}
.img-item-container{
  margin-bottom:$margin;
}
.img-item{
  cursor:pointer;
  margin-bottom:$margin;
  border: $margin solid #FFF;
}
.img-item.active{
  border: 3px solid #3fcd64;
}
.img-item:hover{
  border: 3px solid #92cdb1;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: $navHeight;
  padding-bottom: $navHeight;
}
.main-grid{
  padding-bottom:$navHeight;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $navHeight;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.footer{
  background-color: #f8f8f8;
  border-top:1px solid #e7e7e7;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

