// Any Bootstrap or FontAwesome-specific variables added here will overwrite the defaults.
@import "variable-overrides";

@import '../../../../vendor/twbs/bootstrap-sass/assets/stylesheets/_bootstrap';
//or @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import '../../../../vendor/fortawesome/font-awesome/scss/font-awesome';

// Front-end SCSS goes here.
$margin:1rem;

body{
  background-color:#F5F5F5;
}
.img-item-container{
  margin-bottom:$margin;
}
.img-item{
  cursor:pointer;
  margin-bottom:$margin;
  border: $margin solid #FFF;
}
.img-item.active{
  border: 3px solid #3fcd64;
}
.img-item:hover{
  border: 3px solid #92cdb1;
}
